<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{admin/common/header :: header}"></head>

<body id="page-top">
<div id="wrapper">
    <th:block th:replace="~{admin/common/sidebar :: sidebar(menu='building')}"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="~{admin/common/menu :: menu}"></th:block>

            <!-- Begin Page Content -->
            <div class="page-content container-fluid">
                <div class="page-header mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Building List</h1>
                </div>

                <!-- Building Search Card -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Search Building</h6>
                            </div>
                            <div class="card-body">
                                <form id="buildingEntity-search-form" method="get"
                                      th:action="@{/admin/buildings/list}" th:object="${modelSearch}">
                                    <input type="hidden" name="page" id="page" value="1"/>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label for="name">Building Name</label>
                                            <input type="text" id="name" name="name" placeholder="Building Name"
                                                   class="form-control" th:value="${modelSearch.name}">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="floorArea">Floor Area</label>
                                            <input type="number" id="floorArea" name="floorArea"
                                                   placeholder="Floor Area" class="form-control"
                                                   th:value="${modelSearch.floorArea}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-2">
                                            <label for="district">District</label>
                                            <select name="district" id="district" class="form-control">
                                                <option value="">Select District</option>
                                                <option th:each="district: ${districts}" th:value="${district.key}"
                                                        th:text="${district.value}"
                                                        th:selected="${modelSearch.district}==${district.key}"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-5">
                                            <label for="ward">Ward</label>
                                            <input type="text" id="ward" name="ward" placeholder="Ward"
                                                   class="form-control" th:value="${modelSearch.ward}">
                                        </div>
                                        <div class="col-lg-5">
                                            <label for="street">Street</label>
                                            <input type="text" id="street" name="street" placeholder="Street"
                                                   class="form-control" th:value="${modelSearch.street}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-4">
                                            <label for="numberOfBasement">Basements</label>
                                            <input type="number" id="numberOfBasement" name="numberOfBasement"
                                                   placeholder="Basements" class="form-control"
                                                   th:value="${modelSearch.numberOfBasement}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="direction">Direction</label>
                                            <input type="text" id="direction" name="direction"
                                                   placeholder="Direction" class="form-control"
                                                   th:value="${modelSearch.direction}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="level">level</label>
                                            <input type="text" id="level" name="level" placeholder="level"
                                                   class="form-control" th:value="${modelSearch.level}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-3">
                                            <label for="rentAreaFrom">Area from</label>
                                            <input type="number" id="rentAreaFrom" name="rentAreaFrom"
                                                   placeholder="Area from" class="form-control"
                                                   th:value="${modelSearch.rentAreaFrom}">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="rentAreaTo">Area to</label>
                                            <input type="number" id="rentAreaTo" name="rentAreaTo"
                                                   placeholder="Area to" class="form-control"
                                                   th:value="${modelSearch.rentAreaTo}">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="rentPriceFrom">Price from</label>
                                            <input type="number" id="rentPriceFrom" name="rentPriceFrom"
                                                   placeholder="Price from" class="form-control"
                                                   th:value="${modelSearch.rentPriceFrom}">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="rentPriceTo">Price to</label>
                                            <input type="number" id="rentPriceTo" name="rentPriceTo"
                                                   placeholder="Price to" class="form-control"
                                                   th:value="${modelSearch.rentPriceTo}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-5">
                                            <label for="managerName">Manager Name</label>
                                            <input type="text" id="managerName" name="managerName"
                                                   placeholder="Manager Name" class="form-control"
                                                   th:value="${modelSearch.managerName}">
                                        </div>
                                        <div class="col-lg-5">
                                            <label for="managerPhone">Manager Phone</label>
                                            <input type="text" id="managerPhone" name="managerPhone"
                                                   placeholder="Manager Phone" class="form-control"
                                                   th:value="${modelSearch.managerPhone}">
                                        </div>
                                        <div class="col-lg-2" sec:authorize="hasRole('MANAGER')">
                                            <label for="staffId">Select Staff</label>
                                            <select name="staffId" id="staffId" class="form-control">
                                                <option value="">Select Staff</option>
                                                <option th:each="staff: ${staffs}" th:value="${staff.key}"
                                                        th:text="${staff.value}"
                                                        th:selected="${modelSearch.staffId}==${staff.key}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-2" th:each="typeCode : ${typeCodes}">
                                            <label class="mb-0">
                                                <input type="checkbox" name="typeCode" th:value="${typeCode.key}"
                                                       th:checked="${modelSearch.typeCode != null and modelSearch.typeCode.contains(typeCode.key)}">
                                                <span th:text="${typeCode.value}"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    id="searchBuilding">
                                                <i class="fas fa-search"></i> Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create/Delete Building Buttons (Admin only) -->
                <div class="d-flex justify-content-end mb-3 pr-3" sec:authorize="hasRole('MANAGER')">
                    <a th:href="@{/admin/buildings/edit}">
                        <button class="btn btn-app btn-success btn-xs" title="Add Building">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                 class="bi bi-buildingEntity-add" viewBox="0 0 16 16">
                                <path
                                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
                                <path
                                        d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
                                <path
                                        d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                            </svg>
                        </button>
                    </a>

                    <button class="btn btn-app btn-danger btn-xs ml-2" title="Delete Building" id="btnDelete"
                            onclick="warningBeforeDelete()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                             class="bi bi-buildingEntity-dash" viewBox="0 0 16 16">
                            <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1"/>
                            <path
                                    d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
                            <path
                                    d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                    </button>
                </div>

                <!-- Building List Card -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Result List</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead class="bg-light">
                                        <tr>
                                            <th class="text-center"><input type="checkbox" id="checkAll"/></th>
                                            <th>Building Name</th>
                                            <th>Address</th>
                                            <th>Basements</th>
                                            <th>Manager</th>
                                            <th>Manager Phone</th>
                                            <th>Floor Area</th>
                                            <th>Rent Price</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="buildingSearchResponse: ${model.entityList}">
                                            <td class="text-center"><input type="checkbox"
                                                                           th:value="${buildingSearchResponse.id}"/>
                                            </td>
                                            <td th:text="${buildingSearchResponse.name}"></td>
                                            <td th:text="${buildingSearchResponse.address}"></td>
                                            <td th:text="${buildingSearchResponse.numberOfBasement}"></td>
                                            <td th:text="${buildingSearchResponse.managerName}"></td>
                                            <td th:text="${buildingSearchResponse.managerPhone}"></td>
                                            <td th:text="${buildingSearchResponse.floorArea}"></td>
                                            <td th:text="${buildingSearchResponse.rentPrice}"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a th:href="@{|/admin/buildings/update/${buildingSearchResponse.id}|}"
                                                       class="btn btn-sm btn-info" title="Edit">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <button class="btn btn-sm btn-outline-danger" title="Delete"
                                                            sec:authorize="hasRole('MANAGER')"
                                                            th:onclick="'warningBeforeDelete('+ ${buildingSearchResponse.id} + ')'">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-outline-success"
                                                            title="Assign" sec:authorize="hasRole('MANAGER')"
                                                            th:onclick="'assignmentBuilding('+ ${buildingSearchResponse.id} + ')'">
                                                        <i class="fas fa-users"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pagination -->
                                <div class="page-navigator text-center mt-4" th:if="${model.totalPages >= 1}">
                                    <th:block th:each="page: ${model.navigationPages}">
                                        <a th:if="${page != -1}" class="nav-item"
                                           th:classappend="${page == model.currentPage} ? 'active' : ''"
                                           th:onclick="'gotoPage(' + ${page} + ')'" style="cursor: pointer"
                                           th:utext="${page}">
                                        </a>

                                        <span th:if="${page == -1}" class="nav-item"> ... </span>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="~{admin/common/footer :: footer}"></th:block>
    </div>
</div>

<!-- Assignment Modal -->
<div class="modal fade" id="assignmentBuildingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Staff List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="staffList" class="table text-center"
                       style="width: 100%; border: 1px solid #ddd; margin-bottom: 0;">
                    <thead style="background-color: #f5f5f5;">
                    <tr>
                        <th class="text-center align-middle"
                            style="width: 50%; padding: 12px; border: 1px solid #ddd; color: #666; font-weight: normal;">
                            Select Staff
                        </th>
                        <th class="text-center align-middle"
                            style="width: 50%; padding: 12px; border: 1px solid #ddd; color: #666; font-weight: normal;">
                            Staff Name
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input type="hidden" id="buildingId" value="">
            </div>
            <div class="modal-footer" style="background-color: #f1f3f6;">
                <button type="button" class="btn" style="background-color: #d15b47; color: white;"
                        id="btnCancelAssign" data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn" style="background-color: #428bca; color: white;"
                        id="btnAssignBuilding">Assign Building
                </button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>

<script th:inline="javascript">
    function gotoPage(page) {
        $('#page').val(page);
        $('#buildingEntity-search-form').submit();
    }

    const SELECTED_KEY = 'selectedBuildingIds';

    function getSelectedIds() {
        let ids = sessionStorage.getItem(SELECTED_KEY);
        return ids ? JSON.parse(ids) : [];
    }

    function saveSelectedIds(ids) {
        sessionStorage.setItem(SELECTED_KEY, JSON.stringify(ids));
    }

    function clearSelectedIds() {
        sessionStorage.removeItem(SELECTED_KEY);
    }

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const requestedPage = parseInt(urlParams.get('page')) || 1;
        const actualPage = /*[[${model.currentPage}]]*/ 1;

        if (actualPage && requestedPage !== actualPage) {
            urlParams.set('page', actualPage);
            window.history.replaceState({}, '', window.location.pathname + '?' + urlParams.toString());
        }

        const selectedIds = getSelectedIds();
        $('#dataTable tbody input[type="checkbox"]').each(function () {
            if (selectedIds.includes($(this).val())) {
                $(this).prop('checked', true);
            }
        });

        const total = $('#dataTable tbody input[type="checkbox"]').length;
        const checked = $('#dataTable tbody input[type="checkbox"]:checked').length;
        if (total > 0 && total === checked) {
            $('#checkAll').prop('checked', true);
        }
    });

    $(document).on('change', '#dataTable tbody input[type="checkbox"]', function () {
        const id = $(this).val();
        let ids = getSelectedIds();
        if ($(this).is(':checked')) {
            if (!ids.includes(id)) ids.push(id);
        } else {
            ids = ids.filter(item => item !== id);
        }
        saveSelectedIds(ids);

        const total = $('#dataTable tbody input[type="checkbox"]').length;
        const checked = $('#dataTable tbody input[type="checkbox"]:checked').length;
        $('#checkAll').prop('checked', total > 0 && total === checked);
    });

    $('#checkAll').change(function () {
        const isChecked = $(this).prop('checked');
        let ids = getSelectedIds();
        $('#dataTable tbody input[type="checkbox"]').each(function () {
            $(this).prop('checked', isChecked);
            const id = $(this).val();
            if (isChecked) {
                if (!ids.includes(id)) ids.push(id);
            } else {
                ids = ids.filter(item => item !== id);
            }
        });
        saveSelectedIds(ids);
    });

    $('#searchBuilding').click(function (e) {
        e.preventDefault();
        clearSelectedIds();
        $("#buildingEntity-search-form").submit();
    });

    function warningBeforeDelete(buildingId) {
        let buildingIds = [];
        if (buildingId) {
            buildingIds = [buildingId];
        } else {
            buildingIds = getSelectedIds();
            if (buildingIds.length === 0) {
                buildingIds = $('#dataTable tbody input[type="checkbox"]:checked').map(function () {
                    return $(this).val();
                }).get();
            }
        }

        if (buildingIds.length === 0) {
            Swal.fire("Warning", "Please select at least one building to delete.", "warning");
            return;
        }

        Swal.fire({
            title: "Are you sure you want to delete?",
            text: "This action cannot be undone!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: "Delete",
            cancelButtonText: "Cancel"
        }).then((result) => {
            if (result.isConfirmed) {
                deleteBuildings(buildingIds);
            }
        });
    }

    function deleteBuildings(buildingIds) {
        $.ajax({
            url: '/admin/api/buildings/' + buildingIds.join(','),
            type: 'DELETE',
            dataType: 'json',
            success: function (response) {
                clearSelectedIds();
                Swal.fire("Success", response.message || "Building deleted successfully", "success").then(() => {
                    window.location.reload();
                });
            },
            error: function (error) {
                Swal.fire("Error", "An error occurred while deleting the building", "error");
            }
        });
    }

    function assignmentBuilding(buildingId) {
        $('#buildingId').val(buildingId);
        $('#assignmentBuildingModal').modal('show');
        loadStaffs(buildingId);
    }

    $('#btnAssignBuilding').click(function (e) {
        e.preventDefault();
        const staffIds = $('#staffList tbody input[type="checkbox"]:checked').map(function () {
            return $(this).val();
        }).get();
        const json = {
            buildingId: $('#buildingId').val(),
            staffs: staffIds
        };
        if (!json.buildingId) {
            Swal.fire("Error", "Building ID error", "error");
            return;
        }

        $.ajax({
            url: "/admin/api/buildings/assign",
            type: "PUT",
            data: JSON.stringify(json),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                Swal.fire("Success", response.message || "Assigned successfully", "success").then(() => {
                    $('#assignmentBuildingModal').modal('hide');
                });
            },
            error: function (error) {
                Swal.fire("Error", error.responseJSON.message || "An error occurred while assigning the building", "error");
            }
        });
    });

    function loadStaffs(buildingId) {
        $.ajax({
            url: '/admin/api/buildings/' + buildingId + '/staff',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                let row = '';
                $.each(response.data, function (index, staff) {
                    row += '<tr>';
                    row += '<td class="text-center align-middle" style="padding: 12px; border: 1px solid #ddd;">';
                    row += '<input type="checkbox" value="' + staff.id + '"' + (staff.checked ? ' checked' : '') +
                        ' style="width: 20px; height: 20px; cursor: pointer; border: 1px solid #ccc; background-color: #fff;">';
                    row += '</td>';
                    row += '<td class="text-center align-middle" style="padding: 12px; border: 1px solid #ddd; color: #333;">' + staff.userName + '</td>';
                    row += '</tr>';
                });
                $('#staffList tbody').html(row);
            },
            error: function (error) {
                Swal.fire("Error", "Could not load staff list", "error");
            }
        });
    }
</script>
</body>

</html>